.Calculator {
    margin-bottom: 1px;
    border: 1px solid rgba(255,255,255,0.45);
    font-size: 14px;
    color: white;
    position: relative;
}

.CalculatorHeaderUnderline {
    position: absolute;
    height: 1px;
    top: 37px;
    right: 20px;
    left: 20px;
    margin: 0px auto;
    background-color: rgba(255,255,255, 0.4);
}

.CalculatorResultContainer {
    padding: 3px 0px;
}

.CalculatorResultLabel {
    width: 180px;
    text-align: right;
    display: inline-block;
}

.CalculatorResult {
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
}

.CalculatorResultUom {
    display: inline-block;
    font-weight: bold;
}

.CalculatorBody {
    position: relative;
    padding: 5px 10px;
}

.CalculatorDescription {
    border: 1px solid rgba(255,255,255, 0.4);
    font-style: italic;
    background-color: rgba(58,89,133, 0.7);
    padding: 7px;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 0px;
    width: 300px;
    height: 50px;
    overflow: hidden;
    margin: auto;
}

.CalculatorDescription.hidden {
    display: none;
}

.CalculatorCategoryContainer {
    padding: 3px 0px;
}

.Calculator > .CalculatorNameNode > .dijitTitlePaneTitle {
    background-color: rgba(255,255,255,0.23);
    background-image: none;
    color: white;
    padding: 6px 12px;
    border: none;
}

.Calculator > .CalculatorNameNode > .dijitTitlePaneTitleOpen {
    background-color: rgba(255,255,255, 0.13);
}

.Calculator > .CalculatorNameNode > .dijitTitlePaneContentOuter {
    background: rgba(255,255,255, 0.13);
    border: none;
}

.Calculator > .CalculatorNameNode > .dijitTitlePaneTitle .dijitArrowNode {
    background-image: none;
}
.Calculator > .CalculatorNameNode > .dijitTitlePaneTitleClosed .dijitArrowNode {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid white;
}
.Calculator > .CalculatorNameNode > .dijitTitlePaneTitleOpen .dijitArrowNode {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
}