.FilterField {
    padding: 5px;
}

.FilterFieldNameNode {
    display: inline-block;
    color: white;
    width: 125px;
    vertical-align: top;
    line-height: 26px;
}

.FilterFieldContainerNode {
    display: inline-block;
    width: 660px;
}