html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.calcoola {
    font-size: 13px;
}

.hidden {
    display: none;
}

body.calcoola {
    font-family: 'Droid Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background: rgb(44, 122, 171);
    background: radial-gradient(900px at 50% -250px, rgba(148, 211, 252, 0.3) 30%, rgba(44, 122, 171, 0) 70%), linear-gradient(30deg, rgb(75,38,117) 3%, rgb(44, 122, 171) 85%);
    background: -o-linear-gradient(30deg, rgb(75,38,117) 3%, rgb(44, 122, 171) 85%), -o-radial-gradient(900px at 50% -250px, rgba(148, 211, 252, 0.3) 30%, rgba(44, 122, 171, 0) 70%);
    background:-ms-linear-gradient(30deg, rgb(75,38,117) 3%, rgb(44, 122, 171) 85%), -ms-radial-gradient(900px at 50% -250px, rgba(148, 211, 252, 0.3) 30%, rgba(44, 122, 171, 0) 70%);
}

.bg {
    background: url("/images/bg_symbols.png");
    background-repeat: repeat;
    background-size: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 0.05;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.bg.bg2 {
    background-position: 79px 14px;
}
.bg.bg3 {
    background-position: 174px 28px;
}

.hw {
    background: #fff;
    margin: 0 auto;
    width: 200px;
    padding: 100px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.symbol {
    position: absolute;
    font-weight: normal;
    font-family: 'Droid Serif', serif;
    font-size: 32px;
    color: white;
    opacity: 0.2;
    text-shadow: 1px 3px 5px #000;
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.prop1 { top: -260px; left: 550px; opacity: 0.1; font-size: 72px; }
.prop2 { top: 450px; left: -1200px; opacity: 0.21; font-size: 72px; }

.phi1 { top: -300px; left: 900px; opacity: 0.12; }
.phi2 { top: 300px; left: -1060px; opacity: 0.2; }

.delta1 { top: 380px; left: -830px; opacity: 0.18; }

.pi1 { top: -500px; left: 900px; opacity: 0.2; }
.pi2 { top: 170px; left: -870px; opacity: 0.15; }

.func2 { top: 110px; left: -680px; opacity: 0.12; }

.gamma1 { top: -650px; left: 980px; opacity: 0.22; }
.gamma2 { top: 620px; left: -1040px; opacity: 0.24; }

.percent1 { top: -450px; left: 1100px; opacity: 0.21; }

.sigma1 { top: -300px; left: 700px; opacity: 0.11; }

.infin1 { top: -650px; left: 1100px; opacity: 0.24 }
